body{
    background-image: url("./Library.jpeg");
    background-size: cover;
}
.container {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    backdrop-filter: blur(2.3px);
  }
  
  input[type="text"],
  input[type="number"],
  button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 19px;
  }
  
  button {
    cursor: pointer;
  }
  
  #bookList {
    margin-top: 10px;
  }
  
  #noResults {
    color: red;
  }
  